* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 100%;
}

body {
  background-color: #1b2647;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5em;
}

.main__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  height: 8.125em;
  border: 1px solid grey;
  border-radius: 1.25em;
}

.main__cont img {
  padding-left: 1.563em;
}

.main__cont .main__cont--score {
  margin-right: 1.563em;
}

.main__cont--score {
  background-color: #f8f8f8;
  width: 6.875em;
  height: 6.25em;
  border-radius: 0.625em;
}

.main__cont--scoretext {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin: 0.667em 0 0 0;
}

.main__cont--scorenumber {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3.75em;
  margin-left: 0;
}

.game__options {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5em;
}

.game__options--paper {
  background-color: #dfdfdd;
  width: 13em;
  height: 13em;
  border: 0.8em blue solid;
  border-radius: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.game__options--scissors {
  background-color: #dfdfdd;
  width: 13em;
  height: 13em;
  border: 0.8em red solid;
  border-radius: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.game__options--rock {
  background-color: #dfdfdd;
  width: 13em;
  height: 13em;
  border: 0.8em yellow solid;
  border-radius: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.game__options2 {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.875em;
}

.game__choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 70%;
  height: 25em;
  margin-top: 5em;
}

.game__choices--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.game__choices--text p {
  text-align: center;
  color: white;
}

.game__choices--imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.game__choices1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game__choices1 p {
  color: white;
  font-size: 20px;
  margin-bottom: 3.5em;
}

.game__choices2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game__choices2 p {
  color: white;
  font-size: 20px;
  margin-bottom: 3.5em;
}

.game__choicesplayer--rock {
  background-color: #dfdfdd;
  width: 19em;
  height: 19em;
  border: 1.563em yellow solid;
  border-radius: 12em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: -2px 17px 5px 0px rgba(191, 146, 146, 0.69) inset;
          box-shadow: -2px 17px 5px 0px rgba(191, 146, 146, 0.69) inset;
}

.game__choicesplayer--rock img {
  height: 5em;
  width: 5em;
}

.game__choicesplayer--paper {
  background-color: #dfdfdd;
  width: 19em;
  height: 19em;
  border: 1.563em blue solid;
  border-radius: 12em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: -2px 17px 5px 0px rgba(191, 146, 146, 0.69) inset;
          box-shadow: -2px 17px 5px 0px rgba(191, 146, 146, 0.69) inset;
}

.game__choicesplayer--paper img {
  height: 5em;
  width: 5em;
}

.game__choicesplayer--scissors {
  background-color: #dfdfdd;
  width: 19em;
  height: 19em;
  border: 1.563em red solid;
  border-radius: 12em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: -2px 17px 5px 0px rgba(191, 146, 146, 0.69) inset;
          box-shadow: -2px 17px 5px 0px rgba(191, 146, 146, 0.69) inset;
}

.game__choicesplayer--scissors img {
  height: 5em;
  width: 5em;
}

.result__content {
  width: 12.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 3.75em;
  font-size: 24px;
}

.result__content--txt {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5;
}

.result__content--btn {
  background-color: white;
  cursor: pointer;
  width: 9.375em;
  height: 2.5em;
  border-radius: 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.result__content--btn p {
  color: black;
  text-align: center;
}

footer {
  width: 100vw;
  height: 3.125em;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.footer__rules {
  border: 0.125em solid grey;
  width: 5.625em;
  height: 1.563em;
  border-radius: 0.313em;
  margin-right: 3.125em;
  cursor: pointer;
}

.footer__rules p {
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.rules {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 21.875em;
  height: 21.875em;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1.25em;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.rules .rulesimg {
  margin: auto;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  height: 13.75em;
}

.rulestext {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-top: 1.25em;
}

.rulestext p {
  font-weight: 1000;
  font-size: 25px;
}

.rulesclose {
  cursor: pointer;
}

@media (max-width: 1400px) {
  header {
    margin-top: 2em;
  }
  .game__options {
    margin-top: 0;
  }
  .game {
    margin: 2.5em;
  }
  .game__options--scissors {
    background-color: #dfdfdd;
    width: 9.375em;
    height: 9.375em;
    border: 0.625em red solid;
    border-radius: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .game__options--rock {
    background-color: #dfdfdd;
    width: 9.375em;
    height: 9.375em;
    border: 0.625em yellow solid;
    border-radius: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .game__options--paper {
    background-color: #dfdfdd;
    width: 9.375em;
    height: 9.375em;
    border: 0.625em blue solid;
    border-radius: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .game__choices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-width: 50%;
    height: 25em;
    margin-top: 0;
  }
  .game__choices--text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .game__choices--text p {
    text-align: center;
    color: white;
  }
  .game__choices--imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .game__choices1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .game__choices1 p {
    color: white;
    font-size: 20px;
    margin-bottom: 3.5em;
  }
  .game__choices2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .game__choices2 p {
    color: white;
    font-size: 20px;
    margin-bottom: 3.5em;
  }
  /* .game__choices--rival {
    background-color: #dfdfdd;
    width: 13.75em;
    height: 13.75em;
    border-radius: 7.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
} */
  .game__choicesplayer--rock {
    background-color: #dfdfdd;
    width: 13.75em;
    height: 13.75em;
    border: 1.563em yellow solid;
    border-radius: 7.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-box-shadow: -2px 17px 5px 0px rgba(191, 146, 146, 0.69) inset;
            box-shadow: -2px 17px 5px 0px rgba(191, 146, 146, 0.69) inset;
  }
  .game__choicesplayer--rock img {
    height: 5em;
    width: 5em;
  }
  .game__choicesplayer--paper {
    background-color: #dfdfdd;
    width: 13.75em;
    height: 13.75em;
    border: 1.563em blue solid;
    border-radius: 7.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-box-shadow: -2px 17px 5px 0px rgba(191, 146, 146, 0.69) inset;
            box-shadow: -2px 17px 5px 0px rgba(191, 146, 146, 0.69) inset;
  }
  .game__choicesplayer--paper img {
    height: 5em;
    width: 5em;
  }
  .game__choicesplayer--scissors {
    background-color: #dfdfdd;
    width: 13.75em;
    height: 13.75em;
    border: 1.563em red solid;
    border-radius: 7.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-box-shadow: -2px 17px 5px 0px rgba(191, 146, 146, 0.69) inset;
            box-shadow: -2px 17px 5px 0px rgba(191, 146, 146, 0.69) inset;
  }
  .game__choicesplayer--scissors img {
    height: 5em;
    width: 5em;
  }
  .result__content {
    font-size: 16px;
  }
}

@media (max-width: 1080px) {
  /*     main {
        height: 90vh;
    } */
  .game {
    margin-top: 10em;
    font-size: 17px;
  }
  .game__choices {
    min-width: 70%;
  }
}

@media (max-width: 480px) {
  body {
    overflow: hidden;
  }
  .main__cont img {
    padding-left: 0.3em;
  }
  .main__cont {
    width: 85%;
  }
  .game {
    width: 90%;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
  }
  .game__options {
    width: 100%;
  }
  .game__choices {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -ms-grid-columns: 1fr 1fr auto;
        grid-template-columns: 1fr 1fr auto;
    grid-auto-rows: 100px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 4em;
  }
  .game__choices p {
    font-size: 16px;
  }
  .game__choices2 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .game__choices2 p {
    font-size: 16px;
  }
  .game__choicesplayer--paper {
    background-color: #dfdfdd;
    width: 9em;
    height: 9em;
    border: 1em blue solid;
    border-radius: 6em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-box-shadow: -2px 17px 5px 0px rgba(191, 146, 146, 0.69) inset;
            box-shadow: -2px 17px 5px 0px rgba(191, 146, 146, 0.69) inset;
  }
  .game__choicesplayer--paper img {
    height: 5em;
    width: 5em;
  }
  .game__choicesplayer--rock {
    background-color: #dfdfdd;
    width: 9em;
    height: 9em;
    border: 1em yellow solid;
    border-radius: 6em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-box-shadow: -2px 17px 5px 0px rgba(191, 146, 146, 0.69) inset;
            box-shadow: -2px 17px 5px 0px rgba(191, 146, 146, 0.69) inset;
  }
  .game__choicesplayer--rock img {
    height: 5em;
    width: 5em;
  }
  .game__choicesplayer--scissors {
    background-color: #dfdfdd;
    width: 9em;
    height: 9em;
    border: 1em red solid;
    border-radius: 6em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-box-shadow: -2px 17px 5px 0px rgba(191, 146, 146, 0.69) inset;
            box-shadow: -2px 17px 5px 0px rgba(191, 146, 146, 0.69) inset;
  }
  .game__choicesplayer--scissors img {
    height: 5em;
    width: 5em;
  }
  .result {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1em;
  }
  .result__content {
    margin: 0;
    width: 70%;
  }
  .result__content--btn {
    width: 100%;
    height: 3.125em;
  }
  .result__contenttxt {
    font-size: 20px;
  }
  footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .footer__rules {
    margin: 0;
  }
}
/*# sourceMappingURL=styles.css.map */